<div class="header">
	<div class="container">
		<a href="https://themeforest.net/user/arenatheme" target="blank" class="logo">
			<img src="/arena.png" alt="Logo">
		</a>
	</div>
</div>

<div class="breadcrumbs-v3 img-v3 text-center">
    <div class="container">
        <h1><%= breadcrumb_title %></h1>
        <p>Creative Freedom Matters User Experience</p>
    </div>
</div>