.page-wishlist {
	min-height: 40vh;
	
	.msg,
	.no-wishlist-msg {
		text-align: center;
		margin: 40px 0;
		font-size: 18px;

		a {
			text-decoration: underline;
		}
	}
	
	
}
.wishlist-table {
	width: 100%;
	margin-bottom: 30px;

	+ .no-wishlist-msg {
		display: none;
	}

	&.loading {

		thead,
		tbody {
			display: none;
		}

		height: 50px;
		background: url("{{ 'preloader.gif' | asset_url }}") no-repeat center;
		background-size: 21px 21px;
	}

	&.hidden + .no-wishlist-msg {
		display: block;
	}


	thead {
		display: none;

		th {
			padding: 10px;
			font-size: 18px;
			font-weight: normal;
		}
	}

	tbody {

		tr {
			display: block;
			position: relative;
			border-bottom: 1px solid #dedede;
			clear: both;
			padding-bottom: 20px;
			margin-bottom: 20px;
			@extend %clearfix;
		}
		
		td {
			display: block;

			&.product-remove-btn {
				position: absolute;
				right: 0; top: 15px;
			}

			&.product-title {
				@extend %productTitle;
				padding-top: 10px;
				padding-right: 337px;
				margin-bottom: 7px;
				white-space: normal;

				@media (max-width: 767px) {
					padding-right: 37px;
				}
			}

			&.product-image {
				width: 95px; 
				float: left;
				margin-right: 20px;
			}

			&.product-available {
				display: none;
			}

			&.product-detail {
				position: absolute;
				top: 10px; right: 100px;

				@media (max-width: 767px) {
					position: relative;
					top: 0; right: 0;
					margin-top: 15px;
					clear: both;
					float: right;
				}
			}

			&.product-price {
				@extend %productPrice;
				padding-right: 337px;
				font-size: 20px;

				@media (max-width: 767px) {
					padding-right: 37px;
				}
			}
		}

		tr:last-child {
			td {
				border-bottom: none;
			}
		}
	}

	.product-detail {

		> a {
			font-size: 16px;
			display: block;
			padding-left: 50px; padding-right: 50px;

			@media (max-width: 767px) {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.product-remove-btn {
		vertical-align: top;
	}

	.remove-wishlist {
		background: none;
		border: none;
		font-size: 0;

		&:focus,
		&:active {
			outline: none;
		}

		&:before {
			content: "\f2d7";
			font-family: $icon_font;	
			font-size: 32px;
			line-height: 1;
		}

		&.pending {
			background: url("{{ 'preloader.gif' | asset_url}}") no-repeat center center;
			background-size: 21px 21px;

			&:before {
				visibility: hidden;
			}
		}
	}
}