<div class="page-wishlist">
	<h1 class="page-title">{{ page_title }}</h1>
	{% if customer %}
		<table class="wishlist-table loading">
			<thead>
				<tr>
					<th class="product-remove-heading"></th>
					<th class="product-image-heading"></th>
					<th class="product-title-heading">Product Name</th>
					<th class="product-price-heading">Product Price</th>
					<th class="product-available-heading">Available</th>
					<th class="product-detail-heading"></th>
				</tr>
				<tbody>
					{% for tag in customer.tags %}
						{% if tag contains 'wishlist--' %}
							{% assign handle_tag = tag | strip | replace: 'wishlist--', '' %}
							<tr class="wishlist-item">
								{% assign productItem = all_products[handle_tag] %}
								<td class="product-remove-btn"><button data-handle-product="{{ handle_tag }}" class="remove-wishlist">x</button></td>
								<td class="product-image"><img src="{{ productItem.featured_image | product_img_url: 'small'}}"/></td>
								<td class="product-title">{{ productItem.title }}</td>
								<td class="product-price">{{ productItem.price | money}}</td>
								<td class="product-available">
								{% if productItem.available %}
									In stock
								{% else %}
									Out stock
								{% endif %}	
								</td>
								<td class="product-detail"><a href="{{ productItem.url }}" class="secondary-btn">ADD TO CART</a></td>
							</tr>	
						{% endif %}
					{% endfor %}
				</tbody>
			</thead>
		</table>
		<p class="no-wishlist-msg">You have no any products in wishlist!</p>
	{% else %}
		<p class="msg">You has not logged in. Please <a title="Sign in link" href="/account/login">sign in</a> to view wishlist content !</p>
	{% endif %}
	
	
</div>