<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: '<%= api_key %>',
      shopOrigin: 'https://<%= shop %>.myshopify.com',
      forceRedirect: true,
      debug: true
    });
  </script>
</head>
<body> 
  <% include ../partials/header-content.ejs %> 
  <div class="container content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-left">
        <h2 class="title-v2">Our Wishlist App is Installed Successfully?</h2>
        <p>Nominati consequat ius eu. Justo primis duo no, ne quas solum vitae usu. Vim no quot ullamcorper. Mel mazim veritus omittantur eu. Eum et case fierent pertinacia, purto integre cotidieque vim te.</p>
        <form class="install-page-form" method="GET" action="/apps/install-page-test">
          <button type="submit">Install Page</button>
        </form>
        <form class="install-snippet-form" method="GET" action="/apps/install-snippet-test">
          <button type="submit">Install Page.wishlist</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
