<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body> 
  <% include ../partials/header-content.ejs %> 
  <div class="container content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-left">
        <h2 class="title-v2">Not installed yet?</h2>
        <p>Pleas input your store name then we can install wishlist app on your store!</p>
        <form class="get-shopname-form" method="GET" action="/apps/shopify_auth">
          <label>Enter your store:</label>
          <input type="text" placeholder="shopname" name="shopname">
          <span class="postfix">.myshopify.com</span>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
